[submodule ".registry"]
	path = .registry
	url = https://github.com/giotto-suite/giotto-suite.r-universe.dev
	branch = HEAD
[submodule "GiottoKernels"]
	path = GiottoKernels
	url = https://github.com/giotto-suite/GiottoKernels
